.primaryBtn {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;

  background-color: var(--orange-500);
  color: var(--light-100);
  font-weight: bold;

  cursor: pointer;
}

.secondaryBtn {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;

  background-color: transparent;
  color: var(--orange-500);
  border: 2px solid var(--orange-500);
  font-weight: bold;

  cursor: pointer;

  transition: 0.2s ease-in-out all;

  &:hover {
    background-color: var(--orange-500);
    color: var(--light-100);
  }
}

.tertiaryBtn {
  font-size: 1rem;
  padding: 0.75rem 1.5rem;
  border-radius: 0.75rem;

  color: var(--orange-500);
  font-weight: bold;
  text-decoration: underline;

  cursor: pointer;
}
