.homeSections {
  .heroSection {
    padding: calc(6rem + 3.5rem) 0 0 2rem;

    color: var(--light-100);

    h1 {
      font-size: 4rem;
      line-height: 4rem;
      font-weight: bold;
    }

    h2 {
      margin-bottom: 1.5rem;
    }

    p {
      width: 25rem;
      text-align: justify;
      margin-bottom: 3rem;
    }

    div {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }

  .aboutSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 2.5rem 4rem;
    gap: 2.5rem;

    h1 {
      font-size: 3rem;
      line-height: 4rem;
      color: var(--orange-500);
    }
  }

  .projectsSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 0.75rem 2.5rem;
    gap: 2.5rem;

    h1 {
      font-size: 3rem;
      line-height: 4rem;
      color: var(--orange-500);
    }

    .projectsGrid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2.5rem;
      row-gap: 2rem;
    }
  }
}
