.footerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;

  padding-top: 2.5rem;
  background-color: var(--dark-600);

  margin-top: 2.5rem;

  color: var(--white);

  h1 {
    font-size: 3rem;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;

    div {
      display: flex;
      flex-direction: row;
      font-size: 1rem;

      span {
        font-weight: 700;
        margin-right: 0.25rem;
      }

      svg {
        font-size: 2rem;
        margin-right: 0.5rem;
      }

      p {
        padding: 0;
      }
    }
  }

  p {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1rem;
    padding: 1.5rem 0;
  }

  @media (max-width: 460px) {
    div {
      align-items: flex-start;
      width: fit-content;
      flex-direction: column;

      gap: 1.5rem;
    }

    p {
      padding: 2rem 0;
    }
  }
}
